.crm {
  width: 600px;
  padding: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  font-size: 20px;
  font-weight: 500;
  color: #555;

  border: 1px solid #000;
  border-radius: 15px;
}

.add {
  height: 25px;
  width: 25px;
  padding: 1px;

  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url("../img/add.png");
  background-size: cover;
}

.add:hover {
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 17px;
}

.table {
  padding: 10px;
  text-align: left;
}

th {
  width: 200px;
}

td {
  width: 200px;
}

.products {
  margin-top: 10px;
  border: 1px solid #555;
}

.actions{
  display: flex;
  justify-content: left;
}

.edit {
  height: 20px;
  width: 20px;
  margin-left: 15px;
  padding: 1px;

  background-image: url("../img/pencil.png");
  background-size: cover;
}

.edit:hover {
  padding: 0px;
  cursor: pointer;
  height: 21px;
  width: 21px;
}

.delete {
  height: 20px;
  width: 20px;
  margin-left: 15px;
  padding: 1px;

  background-image: url("../img/cross.png");
  background-size: cover;
}

.delete:hover {
  padding: 0px;
  cursor: pointer;
  height: 21px;
  width: 21px;
}

.modal {
  display: none;
}

.form {
  width: 610px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: #fff;
  border: 1px solid #000;
  border-radius: 15px;
}

.input {
  height: 40px;
  width: 530px;
  display: block;
  margin-top: 10px;
  padding-left: 15px;

  margin-left: auto;
  margin-right: auto;
  border: 2px solid #555;
  border-radius: 20px;

  font-size: 20px;
  font-weight: 500;
  color: #555;
}

.label {
  display: inline-block;

  margin-left: 30px;
  margin-top: 20px;

  font-size: 20px;
  font-weight: 500;
  color: #555;
  text-align: center;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.button {
  height: 50px;
  width: 150px;
  margin-top: 5px;

  font-size: 20px;
  font-weight: 500;
  color: #555;

  border: 2px solid #555;
  border-radius: 20px;
}

.button:hover {
  cursor: pointer;
}

.form_error {
  text-align: center;
  width: 170px;
  padding: 5px 5px;
  position: absolute;
  
  background-color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}
